# DEFAULT WEBAPPJS GIT IGNORE
.idea
target
logs
*.iml
*/target/**
**/.project
**/.classpath
**/.settings


# INTELLIJ
out/

# JIRA PLUGIN
atlassian-ide-plugin.xml
/svgIcons-webs/dist/svgIcons-web/
/svgIcons-webs/node_modules/
/svgIcons-webs/node_modules/
