# DEFAULT WEBAPPJS GIT IGNORE
.idea
target
logs
*.iml
*/target/**
**/.project
**/.classpath
**/.settings


# INTELLIJ
out/

# JIRA PLUGIN
atlassian-ide-plugin.xml
**/svgIcons-web/dist/svgIcons-web/
**/svgIcons-web/node_modules/
**/svgIcons-app/target/
